<h1 align="left">Project Description</h1>

{{screen-messages messages=messages}}

{{single-file-upload addMessage=(action 'addMessage')}}

<!-- <dl>

  <dt>Upload Date</dt>
  <dd>{{model.uploadDate}}</dd>

  <dt>Pages</dt>
  <dd>{{model.pages}}</dd>

  <dt>Content</dt>
  <dd>{{model.content}}</dd>

  <p><a href="{{model.fileURL}}" target="_blank">View File</a></p>

</dl> -->
