<div class="col-xs-12">
  <h2>Select Funding Opportunity</h2>
</div>

<div class="col-xs-10 col-xs-offset-1">

  <p>
    <h4>Directorates</h4>
    <a href="#" {{action "checkAll"}}>Select All</a>
    <a href="#" {{action "uncheckAll"}}>Deselect All</a> {{multiselect-checkboxes options=directorates labelProperty='description' selection=selectedDirectorates}}

  </p>

  {{#if errorMessage}}
    <div class="alert alert-warning">
      {{errorMessage}}
    </div>
  {{/if}}

  <p>
    <h4>Funding Opportunities</h4>

    <table class="table table-striped table-bordered table-hover">
      <thead>
        <th>Select</th>
        <!-- <th {{action 'sortBy' "amendmentId"}} class="clickable">Amendment ID<span class="fa fa-sort"></span></th> -->
        <th {{action 'sortBy' "id"}}>Solicitation Number</th>
        <th {{action 'sortBy' "title"}}>Program Announcement</th>
      </thead>
      <tbody>
        <tr>
          <td></td>


          <td>
            <div class="input-group">
              {{input value=idFilter}}
              <span class=class="input-group-addon">
                <i class="fa fa-search"></i>
              </span>
            </div>
          </td>
          <td>
            <div class="input-group">
              {{input value=titleFilter}}
              <span class=class="input-group-addon">
                <i class="fa fa-search"></i>
              </span>
            </div>
          </td>
        </tr>
        {{#each recordsShown as |fundingOp|}}
          <tr>
            <td>
              {{radio-button groupValue=fundingOpChoice value=fundingOp}}
            </td>
            <td>{{fundingOp.id}}</td>
            <td>{{fundingOp.title}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    {{pagination-control currentPage=currentPage totalPages=totalPages totalRecordsShown=liveFilterLength}}
    {{!pagination-control currentPage=currentPage totalPages=totalPages totalRecordsShown=liveFilterLength pageSizes=pageSizes}}
  </p>

  <button class="btn btn-primary" {{action 'next'}}>Next</button>

</div>

{{yield}}
