
<div class="col-xs-12">
  <h2>Select Funding Opportunity</h2>
</div>

<div class="col-xs-10 col-xs-offset-1">

  <!-- <p>
    <h4>Directorates</h4>
    <ul>
      {{#each directorates as |directorate|}}
      <li>
        <label for={{directorate.description}}>{{input type="checkbox" name=directorate.description id=directorate.description}}{{directorate.description}}</label>
      </li>
      {{/each}}
    </ul>
  </p> -->

  <p>
    <h4>Directorates</h4>
    <a href="#" {{action "checkAll"}}>Select All</a>
    <a href="#" {{action "uncheckAll"}}>Deselect All</a>

    {{multiselect-checkboxes options=directorates labelProperty='description' selection=selectedDirectorates}}

  </p>

  <p>
    <h4>Funding Opportunities</h4>

    <table class="table table-striped table-bordered table-hover">
      <thead>
        <th>Select</th>
        <!-- <th {{action 'sortBy' "amendmentId"}} class="clickable">Amendment ID<span class="fa fa-sort"></span></th> -->
        <th {{action 'sortBy' "id"}}>Solicitation Number</th>
        <th {{action 'sortBy' "title"}}>Program Announcement</th>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td>{{input value=idFilter}}</td>
          <td>{{input value=titleFilter}}</td>
        </tr>
        {{#each visibleFundingOps as |fundingOp|}}
          <tr>
            <td>
              {{radio-button groupValue=wizard.fundingOp value=fundingOp changed="setFundingOp"}}
            </td>
            <td>{{fundingOp.id}}</td>
            <td>{{fundingOp.title}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </p>


<!-- FOR TESTING -->
<!-- <table class="table table-striped table-bordered table-hover">
  <thead>
    <th>Select</th>
    <th>Solicitation Number</th>
    <th>Program Announcement</th>
  </thead>
  <tbody>
    {{#each originalList as |ol|}}
      <tr>
        <td></td>
        <td>{{ol.id}}</td>
        <td>{{ol.title}}</td>
      </tr>
    {{/each}}
  </tbody>
</table> -->


  <button class="btn btn-primary" {{action 'next'}}>Next</button>


</div>



{{yield}}
