

<div class="row">
  <div class="col-xs-2">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation">{{#link-to "proposals"}}All Proposals{{/link-to}}</li>
      <li role="presentation">{{#link-to "cover-sheet" model}}Cover Sheet{{/link-to}}</li>
      <li role="presentation">{{#link-to "project-description" model}}Project Description{{/link-to}}</li>
      <li role="presentation">{{#link-to "data-management-plan" model}}Data Management Plan{{/link-to}}</li>
    </ul>
  </div>

  <div class="col-xs-10">
    <h1 align="center">COVER SHEET HANDLEBARS TEMPLATE</h1>
    <dl>

      <dt>Upload Date</dt>
      <dd>{{model.uploadDate}}</dd>

      <dt>Submission Date</dt>
      <dd>{{model.submissionDate}}</dd>

      <dt>Pages</dt>
      <dd>{{model.pages}}</dd>

      <dt>Content</dt>
      <dd>{{model.content}}</dd>

      <p><a href="{{model.fileURL}}" target="_blank">View File</a></p>

    </dl>
  </div>

</div>
